.container {
  margin: 50px auto !important;
  float: none !important;
  width: 80%;
}

.title {
  margin: 30px auto !important;
  text-align: center;
  font-family: 'Ink Free';
  font-size: 60px;
}

.simpleText {
  margin: 30px auto !important;
  text-align: center;
  text-justify: auto;
  font-size: 25px;
  font-family: 'Ink Free';
}

.header {
  width: 20%;
  text-align: center;
  font-size: 25px;
  font-family: 'Ink Free';
  font-weight: bold;
}

.btnContainer {
  margin: 30px auto !important;
  display: flex;
  column-gap:60%;
}

#btnCheck {
  background-color: rgba(30, 225, 255, 0.6);
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-family: 'Ink Free';
  font-weight: bold;
}

#btnRandom {
  background-color: rgba(355, 30, 175, 0.6);
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-family: 'Ink Free';
  font-weight: bold;
}
