<div class="container">
    <h1 class="title">{{title}}</h1>
    <p class="simpleText">Ready for a quick verb grid test?</p>
    <p class="simpleText">Fill the blank cells with the correct verbal tense</p>
    <mat-grid-list cols="4" rowHeight="5:1">
        <mat-grid-tile class="header tile" *ngFor="let header of headers" [style.background]="header.color">
            {{header.tense}}
        </mat-grid-tile>
    </mat-grid-list>
    <app-verb-row [verbsInput]="result" (changeVerbsEvent)="changeVerbs()"
                  (checkAnswersEvent)="checkAnswers($event)">
    </app-verb-row>
</div>
